.Pokecard {
    background-color: transparent;
    transition: 0.3s;
    width: 150px;
    height: 210px; 
    font-family: 'Varela Round', sans-serif;
    /*
        The card's total dimensions should 
        include the thickness (px) of the border.
    */
    perspective: 1000px;
}
.FlipCard {
    position: relative;
    width: inherit;
    height: inherit;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.Pokecard:hover .FlipCard {
    transform: rotateY(180deg);
}

/* Position the Front and Back Sides of the Card */
.FlipCardFront, .FlipCardBack {
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/* Style the Front Side of the Card */
.FlipCardFront {
    background-color: white;
    /* transform: rotateY(180deg);  */
    /*
        Start with the Card Front face-down 
        flip over on hover to see the Pokemon,
    */
}
/* Style the Back Side of the Card */
.FlipCardBack {
    background-color: slategrey;
    color: gold;
    font-size: 0.8rem;
    transform: rotateY(180deg);
}

.PokemonImg {
    background-color: lightgray;
}

.PokemonName {
    color: black;
    font-size: 0.7rem;
    padding: 0 2px 0 2px;
    margin: 0;
    /* border: 1px solid lightblue; */
}
.card-body {
    padding: 2%;
}
.card-footer {
    padding: 3%;
}

.Attribute {
    font-weight: bold;
    font-size: 0.6rem;
}
.Type {
    padding: 2px;
    color: white;
    background-color: darkgray;
    border-radius: 4px;
    width: 50px;
}
.Exp {
    /* border: 1px solid #adff2f; */
    padding:2px;
}


/* 
    Pokemon (Single) Type Colors 
*/
.Fire {
    background-color: tomato;
}
.Water {
    background-color: cornflowerblue;
}
.Poison {
    background-color: blueviolet;
}
.Ground {
    background-color: goldenrod;
}
.Rock {
    background-color: darkgoldenrod;
}
.Electric {
    background-color: gold;
}
.Bug {
    background-color: darkolivegreen;
}
.Grass {
    background-color: lawngreen;
}
.Psychic {
    background-color: fuchsia;
}
.Ice {
    background-color: aqua;
}
.Flying {
    background-color: dodgerblue;
}
.Normal {
    background-color: darkgray;
}
.Fighting {
    background-color: chocolate;
}