.Pokedex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    height:500px;
    padding: 2%;
    margin: 2%;
    border: 2px dashed blue;
}